@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    cursor: context-menu;
}

button:hover{
    cursor: pointer;
}

.main-div{
    background: url('../images/backcover.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 340px -800px;
    padding-top: 2%;
}

/* Styles for navbar */

.bars-icon{
    display: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
}

.nav-items{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 50px;
}

.nav-item{
    font-family: 'Roboto', sans-serif;
    color: #1F2873;
    font-size: 17px;
}

.nav-item:hover{
    cursor: pointer;
}

.signin-btn{
    width: 85px;
    height: 30px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    background-image: linear-gradient(to right, #965CF2, #FF8ADC);
    color: #ffffff;
}

/* Styles for intro section */

.intro-section{
    display: flex;
    flex-direction: row;
}

.left-section{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-left: 5%;
    padding-top: 8%;
}

h1{
    font-size: 4rem;
    color: #3E4794;
}

h4{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;
    line-height: 25px;
    color: #9FA2B6;
    font-weight: 200;
}

.learn-more-btn{
    margin-top: 6%;
    width: 300px;
    height: 60px;
    border: none;
    border-radius: 50px;
    font-size: 2rem;
    color: #ffffff;
    background-image: linear-gradient(to right, #965CF2, #FF8ADC);
}

img[alt="intro-img"]{
    height: 80%;
    position: relative;
    top: -13%;
    left: -5%;
}

.vector-img{
    position: relative;
    top: 50%;
    left: -10%;
}

.vector-dot{
    position: relative;
    top: 40%;
    left: -15%;
}

/* Styles for mobile screens */
/* Here break-point is 1230px */

@media screen and (max-width:1230px) {
    
    body{
        height: 100vh;
        width: 100vw;
        background-image: url('../images/intro-img.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .main-div{
        background: none;
    }

    nav{
        padding: 5%;
        padding-top: 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-items{
        display: none;
    }

    .signin-btn{
       display: none;
    }

    .bars-icon{
        display: inline;
        height: 50px;
        width: 50px;
    }

    .imgs-div{
        display: none;
    }  
       
    .left-section{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1{
        font-size: 5rem;
    }

    h4{
        font-size: 2rem;
        line-height: 50px;
        color: #000;
    }

}
